/* styles.css */
body {
    background-color: #FAFAFA; /* Lighter background for readability */
    font-family: 'Libre Baskerville', serif;
    color: #2a1719;
    margin: 0;
    line-height: 1.6; /* Improved text spacing */
}

header {
    /* background-image: url("https://plus.unsplash.com/premium_photo-1674106347866-8282d8c19f84?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    /* background-image: url("https://images.unsplash.com/photo-1469053713174-e64e64779a7a?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTB8fGZvb2R8ZW58MHwwfDB8fHww"); */
    /* background-color: #57BC90; */
    background: rgb(32, 166, 92);
    background: radial-gradient(circle, rgb(151, 208, 214) 0%, rgba(148,187,233,1) 100%);
    /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    color: #ffffff;
    text-align: center;
    padding: 2em 0;
    font-size: 1.3rem; /* Larger font size */
    font-family: 'League Spartan', sans-serif;
    font-weight:lighter;
    letter-spacing: 1px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    border-bottom: 1px solid #dddddd;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
}

nav a:hover {
    font-weight:bolder; 
}
footer {
    background-color: #A5A5AF;
    text-align: center;
    padding: 1em 0;
    font-family: 'League Spartan', sans-serif;
    color: #FEFFFF;
}

.wrapper {
    background-color: #ffffff; /* Lighter background */
    padding: 2em;
    margin: 2em auto;
    max-width: 1000px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap; /* Make responsive */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.main-content {
    flex: 3;
    margin: 1em 3em 3em;
}

aside {
    flex: 1;
    background-color: #e5eaf5;
    color: #000000;
    padding: 1em;
    border-radius: 10px;
    font-family: 'League Spartan', sans-serif;
}


/* Table */

/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'League Spartan', sans-serif;
    border: 2px solid #dddddd;
    
}
  
/* Style for the table headers */
th {
    background-color: #f9f9f9;
    border-bottom: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
    
}

/* Style for the table cells */
td {
    background-color: #f9f9f9;
    /* border-bottom: 1px solid #dddddd; */
    padding: 8px;
    text-align: left;
}



.image-container{
    text-align: center;
}

#analysis{
    text-align: center;
    padding: 10px;
}



#results{
    padding: 20px ;
}

.index-button{
    border: none; 
    border-radius: 25px; 
    padding: 10px 25px; 
    font-weight: bold;
    cursor: pointer; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.index-button:hover {
    background-color: #ffffff;
}

.delete-button {
    background-color: rgb(233, 88, 88);
    color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    float: right;
}

@media (max-width: 1024px){
    body{
        background-color: #000000;
    }
}
